.sect_1{
    
    &__wrapper {

        padding-top: 135px;
        padding-bottom: 185px;

        @include is-sp {
            padding-top: 74px;
            padding-bottom: 0px;
        }

        .l-wrap {

                @include is-sp {
                    padding-left: 25px;
                    padding-right: 25px;
                }

                // HEADING 
                .heading_title {
                    @include font-line(70);
                    color: #E58041;
                    font-weight: 700;
                    text-align: center;
                    padding-bottom: 50px;
                    line-height: 1;
                    font-family: oswald,sans-serif;
                }

                // FOUR CIRCLE
                .sect_1__circle {
                    line-height: 0;
                    text-align: center;
                    padding-bottom: 100px;

                    @include is-sp {
                        padding-bottom: 67px;
                    }

                    .circle-1 {
                        background: #E58041;
                        width: 10px;
                        height: 10px;
                        display: inline-block;
                        border-radius: 20px;
                        margin: 0 12px;
                    }
                }

                // CONTENTS
                .content {
                    width: 720px;
                    margin: 0 auto;

                    @include is-sp {
                        width: 100%;
                    }

                    // COLUMN1
                    .cont_1 {
                        display: flex;
                        justify-content: space-between;
                        border-bottom: 1px dotted #5A3C1E;
                        align-items: flex-start;
                        flex-wrap: wrap;
                        padding: 0 20px 15px;
                        margin-bottom: 40px;

                        @include is-sp {
                            flex-direction: column;
                        }

                        .col_1 {
                            display: flex;
                            align-items: flex-start;
                            color: #5A3C1E;

                            @include is-sp {
                                flex-direction: column;
                               align-items: flex-start;
                               padding-bottom: 15px;
                            }
                           

                            .date {
                                @include font-line(16);
                                font-weight: 700;
                                font-family: noto-sans-cjk-jp, sans-serif;
                            }

                            .barrier {
                                height: 30px;
                                background-color: #5A3C1E;
                                width: 1px;
                                margin: 0 20px;

                                @include is-sp {
                                    display: none;
                                }

                            }
    
                            .para_1 {
                                @include font-line(18);
                                font-weight: 400;
                                font-family: noto-sans-cjk-jp, sans-serif;
                                width: 380px;
                                @include is-sp {
                                   @include font-line(16);
                                   width: unset;
                                }

                            }

                        }

                        // COLUMN 2
                        .col_2 {
                            display: flex;
                            align-items: center;

                            @include is-sp {
                                justify-content: flex-end;
                                margin-left: auto;
                                order: 3;
                            }

                            .read_more {
                                font-weight: 400;
                                font-family: noto-sans-cjk-jp, sans-serif;
                                @include font-line(16);
                                color: #E58041;
                                margin-right: 9px;
                            }

                            &.active{
                            }

                        }

                        .col_3{
                            width: 380px;
                            margin-left: 130px;
                            padding: 20px 0 40px;
                            display: none;
                            // max-height: 0;
                            // overflow: hidden;
                            // transition: max-height 0.2s ease-out;
                            
                            @include is-sp{
                                width: 100%;
                                margin-left: 0;
                                order: 2;
                                padding: 10px 0 25px;
                            }

                            p{
                                @include font-line(16);
                                font-weight: 400;
                                font-family: noto-sans-cjk-jp, sans-serif;
                            }
                        }

                        &:last-child {
                            margin-bottom: 0px;
                        }
   
                    }

                }

           

        }

    }

}