.sect_2 {
	img {
		width: 100%;
	}

	.l-wrap {
		@include is-max (1090px) {
			padding-left: 25px;
			padding-right: 25px;
		}

		@include is-sp {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.wrap {
		@include is-sp {
			padding-left: 25px;
			padding-right: 25px;
		}
	}

	.cont_slider {
		@include is-sp {
			margin-left: 20px;
		}

		div {
			img {
				width: 100%;

				object-fit: cover;

				@include is-sp {
					height: auto;
					object-fit: cover;
				}
			}
		}
	}

	.open_txt {
		@include font-line(16);
		font-family: noto-sans-cjk-jp, sans-serif;
		font-weight: 400;
		margin-right: 5px;
	}

	.br_pc {
		display: none;
	}

	.br_sp {
		display: none;

		@include is-max(500px) {
			display: block;
		}
	}

	.br_sp_min {
		display: none;

		@include is-max(375px) {
			display: block;
		}
	}

	.laps_price {
		@include is-max(500px) {
			position: absolute;
			right: 0;
		}
	}

	.content {
		@include is-sp {
			display: none;
		}
	}

	.pos_img_sp {
		display: none;
		text-align: right;

		@include is-sp {
			display: block;

			img {
				width: 100%;
				margin-right: auto;
			}

			.sub_desc_img {
				@include font-line(16);
				font-family: noto-sans-cjk-jp, sans-serif;
				font-weight: 500;
				text-align: left;
				padding-left: 20px;
				margin-top: -20px;
			}

			p {
				&:nth-of-type(2) {
					@include font-line(16);
					font-family: noto-sans-cjk-jp, sans-serif;
					font-weight: 500;
					text-align: right;
					padding-right: 20px;
				}
			}
		}
	}

	// .cont_slider {
	// 	max-width: 1400px;
	// 	margin: auto;

	// }

	// .slick-slide {
	// 	margin-right: 105px;
	// 	transition: all 450ms;

	// 	@include is-sp {
	// 		margin-left: 30px;
	// 	}
	// }

	// .col_img:first-child {
	// 	@include is-sp {
	// 		margin-left: 20%;
	// 	}
	// }
	.slick-slide {
		margin-right: 0;
		transform: scale(0.95);

		@include is-sp {
			margin-right: 20px;
			transform: scale(1);
		}
	}

	.slick-dots {
		display: flex;
		justify-content: center;
		margin: 0;
		padding: 1rem 0;
		list-style-type: none;
		// position: absolute;
		// bottom: -50px;
		// left: 50%;

		// @include is-max(371px) {
		// 	left: 45% !important;
		// }

		li {
			margin: 0 5px;
		}

		button {
			display: block;
			width: 10px;
			height: 10px;
			padding: 0;
			border: none;
			border-radius: 100%;
			background-color: #fff;
			text-indent: -9999px;
			border: 1px solid #e58041;
		}

		li.slick-active button {
			background-color: #e58041;
		}
	}

	&__wrapper {
		max-width: 1400px;
		margin: 0 auto;
		padding-bottom: 250px;

		@include is-max(1400px) {
			max-width: 100%;
		}

		@include is-sp {
			padding-bottom: 190px;
		}

		.heading-title {
			@include font-line(60);
			font-family: noto-sans-cjk-jp, sans-serif;
			font-weight: 700;
			text-align: center;
			line-height: 1;

			@include is-sp {
				@include font-line(50);
				margin-top: 50px;
			}

		}

		.heading-title-primary {
			color: #e58041;

			@include is-sp {
				line-height: 120%;
			}

			br {
				display: none;

				@include is-sp {
					display: block;
				}
			}
		}
	}

	&__circle {
		text-align: center;
		margin-top: 45px;

		.circle-1 {
			background: #e58041;
			width: 10px;
			height: 10px;
			display: inline-block;
			border-radius: 20px;
			margin: 0 12px;
		}
	}

	&__circle_2 {
		text-align: center;
		margin-top: 100px;
		margin-bottom: 70px;
		line-height: 1;

		@include is-sp {
			display: none;
		}

		.circle-1 {
			background: #e58041;
			width: 10px;
			height: 10px;
			display: inline-block;
			border-radius: 20px;
			margin: 0 12px;
		}
	}

	&__row-table {
		margin-top: 113px;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;

		@include is-max(970px) {
			flex-direction: column;
		}

		@include is-sp {
			margin-top: 10px;
		}

		.column-1 {
			width: 460px;

			@include is-max(980px) {
				width: 100%;
				margin: 0 auto;
			}

			@include is-max(520px) {
				width: 100%;
			}

			.mt-55 {
				&:nth-of-type(3) {
					.open_desc {
						@include is-max(340px) {
							margin-top: 105px;
							z-index: 100;
						}
					}
				}

				&:nth-of-type(3) {
					.cont_slider {
						margin-top: 40px;
					}
				}
			}

			.pc {
				display: block;

				@include is-sp {
					display: none !important;
				}
			}

			.sp {
				display: none !important;

				@include is-sp {
					display: flex !important;
				}
			}

			.sp-sec {
				display: none !important;

				@include is-sp {
					display: block !important;
				}
			}

			.slide_pc {
				display: none;

				@include is-pc {
					display: flex;
					flex-direction: column;
				}

				@include is-max(980px) {
					flex-direction: column;
				}
			}

			.slide_sp {
				display: none;

				@include is-sp {
					flex-direction: column;
					display: flex;
				}
			}

			.arrow_right {
				width: 29px;
			}

			.open_desc {
				display: none;
			}

			.min-tp {
				margin-top: 0 !important;
			}

			.open_desc {
				@include is-sp {
					@include font-line(18);
					font-family: noto-sans-cjk-jp, sans-serif;
					font-weight: 400;
					display: block;
					display: flex;
					align-items: center;
					column-gap: 0;
					margin-top: 15px;
					position: absolute;
					right: 0;
					top: 0;
					margin-right: 20px;
					color: #e58041;
				}
			}

			.heading-title-table {
				@include font-line(54);
				font-family: oswald, sans-serif;
				font-weight: 400;
				line-height: 1;
				// margin-top: 65px;
				margin-bottom: 50px;

				@include is-sp {
					margin-bottom: 18px;
					display: flex;
					align-items: center;
					justify-content: space-between;
				}
			}

			.text {
				@include font-line(18);
				color: #5a3c1e;
				font-family: noto-sans-cjk-jp, sans-serif;
				font-weight: 500;

				@include is-sp {
					display: none;
				}

				@include is-max(496px) {
					padding-top: 16px;
				}
			}

			.text_sp {
				display: none;
			}

			.text_sp {
				display: none;

				@include is-sp {
					display: block;
					// margin-bottom: 45px;
				}
			}

			.price {
				@include font-line(22);
				font-family: noto-sans-cjk-jp, sans-serif;
				font-weight: 400;
				color: #5a3c1e;
			}

			.flex {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: center;
				margin-top: 48px;
				position: relative;

				@include is-sp {
					align-items: baseline;
				}

				// @include is-max(970px) {
				// 	justify-content: center;
				// 	column-gap: 20px;
				// }

				.col_img {
					@include is-max(980px) {
						width: 48%;
					}
				}

				p {
					@include font-line(16);
					font-family: noto-sans-cjk-jp, sans-serif;
					font-weight: 500;
					color: #5a3c1e;
					padding-top: 2px;
					padding-bottom: 6px;
				}
			}

			.desc {
				@include font-line(18);
				font-weight: 400;
				color: #5a3c1e;
			}

			.btm-desc {
				@include font-line(18);
				font-family: noto-sans-cjk-jp, sans-serif;
				font-weight: 700;
				color: #5a3c1e;
				text-align: center;
				border: 1px solid #5a3c1e;
				padding: 11px 0;
				margin-top: 50px;
				letter-spacing: -1px;
				justify-content: center;

				@include is-sp {
					margin-left: 20px;
					margin-right: 20px;
				}
			}

			.sub-title {
				@include font-line(18);
				font-family: noto-sans-cjk-jp, sans-serif;
				font-weight: 700;
				color: #e58041;
				margin-top: 10px;
			}

			.sub-desc {
				@include font-line(18);
				font-family: noto-sans-cjk-jp, sans-serif;
				font-weight: 400;
			}

			.col_img_1 {
				width: 48%;
			}

			.ls {
				letter-spacing: -1px;
			}

			.ls-2 {
				letter-spacing: -1.954px;
			}

			.w-48 {
				@include is-sp {
					width: 48%;
				}

				@include is-max(500px) {
					width: 100%;

					&:nth-of-type(1) {
						margin-bottom: 20px;
					}
				}
			}
		}

		.column-2 {
			width: 460px;
			position: relative;

			@include is-max(980px) {
				width: 100%;
				margin: 0 auto;
			}

			@include is-max(520px) {
				width: 100%;
			}

			.mt-55 {
				&:nth-of-type(3) {
					.open_desc {
						@include is-max(340px) {
							margin-top: 55px;
							z-index: 100;
						}
					}

					.heading-title-table {
						margin-bottom: 0 !important;

						@include is-max(980px) {
							margin-top: 200px;
						}

						@include is-sp {
							margin-top: 80px;
							margin-bottom: 0 !important;
						}
					}

					.content {
						.wrap {
							margin-top: 40px !important;
						}
					}
				}
			}

			.slide_pc {
				display: none;

				@include is-pc {
					display: flex;
					flex-direction: column;
				}
			}

			.pc {
				display: block;

				@include is-sp {
					display: none !important;
				}
			}

			.sp {
				display: none;

				@include is-sp {
					display: block !important;
				}
			}

			.slide_sp {
				display: none;

				@include is-sp {
					flex-direction: column;
					display: flex;
				}
			}

			.pos {
				@include is-sp {
					top: 68px !important;
				}
			}

			.flex_start {
				@include is-sp {
					align-items: flex-start !important;
				}
			}

			.heading-title-table {
				@include font-line(54);
				font-family: oswald, sans-serif;
				font-weight: 400;
				line-height: 1;
				// margin-top: 65px;
				margin-bottom: 50px;

				@include is-sp {
					margin-bottom: 30px !important;
					display: flex;
					align-items: center;
					justify-content: space-between;
				}
			}

			.drink_sub {
				display: none;

				@include is-sp {
					@include font-line(20);
					font-family: noto-sans-cjk-jp, sans-serif;
					font-weight: 400;
					text-align: center;
					background-color: #e31f19;
					color: #fff;
					padding: 10px 0;
					width: 200px;
					margin: 60px auto;
					display: block;
				}
			}

			.price {
				@include font-line(22);
				font-family: noto-sans-cjk-jp, sans-serif;
				font-weight: 400;
				color: #5a3c1e;
			}

			.price_desc {
				@include font-line(18);
				font-family: noto-sans-cjk-jp,
					sans-serif;
				font-weight: 400;
				color: #5a3c1e;
			}

			.mt-0 {
				@include is-sp {
					margin-top: 0 !important;
				}
			}

			.pos_img {
				width: 605px;
				height: 374px;
				position: relative;

				@include is-max(1400px) {
					width: 100%;
					height: auto;
				}

				@include is-max(980px) {
					height: auto;
				}

				@include is-sp {
					display: none;
				}

				p {
					&:nth-of-type(1) {
						@include font-line(16);
						font-family: noto-sans-cjk-jp, sans-serif;
						font-weight: 500;
						text-align: right;
						position: relative;
						top: -25px;

						@include is-sp {
							display: none;
						}
					}
				}
			}

			.pos_img_2 {
				width: 200px;
				height: 200px;
				position: absolute;

				@include is-max(1400px) {
					width: 34%;
				}

				@include is-max(980px) {
					height: auto;
				}
			}

			.pos_img_3 {
				width: 440px;
				height: 286px;
				position: absolute;
				right: -155px;
				top: -102px;

				@include is-max(1400px) {
					right: 0;
					width: 71%;
				}

				@include is-max(980px) {
					height: auto;
					// top: -175px;
					top: -17vw;
				}
			}

			.arrow_right {
				width: 29px;
			}

			.open_desc {
				display: none;
			}

			.open_desc {
				@include is-sp {
					@include font-line(16);
					font-family: noto-sans-cjk-jp, sans-serif;
					font-weight: 400;
					display: block;
					float: right;
					display: flex;
					align-items: center;
					column-gap: 0;
					margin-top: 15px;
					position: absolute;
					right: 0;
					top: 0;
					margin-right: 20px;
					color: #e58041;
				}
			}

			.sub_desc_img {
				@include font-line(16);
				font-family: noto-sans-cjk-jp, sans-serif;
				font-weight: 500;
			}

			.btm-desc {
				@include font-line(18);
				font-family: noto-sans-cjk-jp, sans-serif;
				font-weight: 700;
				color: #5a3c1e;
				text-align: center;
				border: 1px solid #5a3c1e;
				padding: 11px 0;
				letter-spacing: -1px;

				@include is-sp {
					margin-left: 20px;
					margin-right: 20px;
					margin-bottom: 50px;
				}
			}

			.col_img_1 {
				@include is-max(1400px) {
					width: 30%;
				}
			}

			.col_img_2 {
				position: absolute;
				width: 370px;
				right: -100px;
				height: 286px;
				top: 30px;

				@include is-max(1400px) {
					width: 75%;
					right: 0;
					height: auto;
					top: -2%;
				}
			}

			.text_sp {
				display: none;
			}

			.text_sp {
				display: none;

				@include is-sp {
					display: flex;
					align-items: center;
					justify-content: space-between;
					margin-bottom: 45px;
				}
			}

			.text {
				@include font-line(18);
				color: #5a3c1e;
				font-family: noto-sans-cjk-jp, sans-serif;
				font-weight: 500;

				@include is-sp {
					display: none;
				}

				@include is-max(496px) {
					padding-top: 16px;
				}
			}

			.mt-0 {
				margin-top: 0 !important;
			}

			.flex {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-top: 48px;
				position: relative;

				@include is-sp {
					// @include font-line(16);
					// font-family: noto-sans-cjk-jp, sans-serif;
					// font-weight: 500;
					// color: #5a3c1e;
					padding-top: 2px;
					padding-bottom: 6px;
				}
			}

			.flex_sp {
				@include is-sp {
					display: none;
				}
			}

			.sub-title {
				@include font-line(18);
				font-family: noto-sans-cjk-jp, sans-serif;
				font-weight: 700;
				color: #e58041;
				margin-top: 10px;
			}

			.heading-title-table {
				@include font-line(54);
				font-family: oswald, sans-serif;
				font-weight: 400;
				line-height: 1;
				// margin-top: 65px;
				margin-bottom: 50px;
			}
		}

		hr {
			border-top: 2px dotted #e58041;
			margin-top: 50px;
			margin-bottom: 40px;
		}

		.mb-48 {
			margin-bottom: 48px;
		}

		.mt-5 {
			margin-top: 5px !important;
		}

		.mb-20 {
			margin-bottom: 20px;

			@include is-sp {
				margin-bottom: 0;
			}
		}

		.mt-25 {
			margin-top: -25px;
		}

		.mt-40 {
			@include is-sp {
				margin-bottom: 40px;
			}
		}

		.mt-50 {
			@include is-pc {
				margin-top: 45px;
			}
		}

		.mt-60 {
			margin-top: 60px;
		}

		.mt-70 {
			margin-top: 70px;

			@include is-sp {
				margin-top: 70px;
			}
		}

		.mt-130 {
			margin-top: 130px;

			@include is-sp {
				margin-top: 130px;
			}
		}

		.mt-55 {
			@include is-sp {
				margin-top: 10px;
			}
		}

		.mb-210 {
			margin-bottom: 210px;

			@include is-max(980px) {
				margin-bottom: 36%;
			}
		}
	}
}
